
*.tlog
*.ipch
2.0/project/.vs/FLHook/FileContentIndex/288ba005-4086-49d6-ab3f-a08edb40e236.vsidx
2.0/project/.vs/FLHook/FileContentIndex/a1dd1315-3d20-44a3-bef7-26228fc76460.vsidx
2.0/project/.vs/FLHook/v17/Browse.VC.db-shm
2.0/project/.vs/FLHook/v17/Browse.VC.db-wal
2.0/project/.vs/FLHook/v17/Solution.VC.db-shm
2.0/project/.vs/FLHook/v17/Solution.VC.db-wal
