[Modules]
EquipWhiteListModule=true
; Requires Librelancer SDK installed in 'Freelancer\EXE\flhook_plugins\librelancer-sdk' - https://github.com/Librelancer/Librelancer/releases
DiscordBot=false
Crafting=true

[ConnectionLimiter]
MaxParallelIpAddressConnections = 2

[WelcomePopUp]
Head = 524289
Body = 524290

[Discord]
BotToken = 
ServerID = 
UVChatChannelID = 

[SpawnProtection]
ProtectionDuration = 5
