[Solars]
;; Winter Event [start]
; nickname = ew01_base_wardens01
;; Winter Event [end]
nickname = blue_base01
nickname = blue_small_wp01
nickname = blue_small_wp02
nickname = blue_small_wp03
nickname = blue_small_wp04
nickname = blue_small_wp05
nickname = blue_small_wp06
nickname = blue_small_wp07
nickname = blue_small_wp08
nickname = blue_small_wp09
nickname = blue_small_wp10
nickname = blue_small_wp11
nickname = blue_small_wp12
nickname = blue_medium_wp01
nickname = blue_medium_wp02
nickname = blue_medium_wp03
nickname = blue_medium_wp04
nickname = blue_medium_wp05
nickname = blue_medium_wp06
nickname = blue_anti_cloak01
nickname = red_base01
nickname = red_small_wp01
nickname = red_small_wp02
nickname = red_small_wp03
nickname = red_small_wp04
nickname = red_small_wp05
nickname = red_small_wp06
nickname = red_small_wp07
nickname = red_small_wp08
nickname = red_small_wp09
nickname = red_small_wp10
nickname = red_small_wp11
nickname = red_small_wp12
nickname = red_medium_wp01
nickname = red_medium_wp02
nickname = red_medium_wp03
nickname = red_medium_wp04
nickname = red_medium_wp05
nickname = red_medium_wp06
nickname = red_anti_cloak01

